# --- Maven ---
target/

# --- Java ---
*.class
*.jar
*.war
*.ear

# --- IDEs ---
.settings/
.project
.classpath
.metadata/
.idea/
*.iml
.vscode/

# --- OS & Temp ---
.DS_Store
Thumbs.db
bin/
tmp/
*.tmp
*.bak
*.swp
